name: PinCodes.Authorization

on:
  push:
    branches:
      - master
    paths:
      - 'src/PinCodes.Authorization/**'

jobs:
  build:
    name: Build & Push
    runs-on: windows-latest
    defaults:
      run:
        working-directory: src/PinCodes.Authorization

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Install .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Copying README file to the correct location
      shell: bash
      run: |
        cp readme.md ../../Resources/Raw/readme_pincodeauthorization.md

    - name: Removing table content for the NuGet platform README
      shell: bash
      run: |
         awk '/<\/details>/ {print NR}' ../../Resources/Raw/readme_pincodeauthorization.md | xargs -I {} sed -i '1,{}d' ../../Resources/Raw/readme_pincodeauthorization.md

    - name: Build Project
      run: dotnet build --configuration Release

    - name: Publish Nuget package
      shell: powershell
      run: |
        dotnet nuget push $(cmd /r dir /s PinCodes.Authorization.Maui.*.nupkg /b) --api-key ${{ secrets.NUGET_KEY }} --source https://api.nuget.org/v3/index.json
